@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border: 1px solid #8080802f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e6e6e6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

.text-secondary {
  color: #8e3078;
}

.bg-secondary {
  background-color: #3590b4;
}

.bg-secondaryOne {
  background-color: #fbdaa7;
}

.text-secondaryOne {
  color: #8e3078;
}

.peer:checked ~ .peer-checked\:text-secondaryOne {
  color: #8e3078 !important ;
}

.active-link::after{
  background-color: #8e3078;
  opacity: 1;
}

@layer base {
  .h1 {
    @apply text-[45px] leading-tight md:text-[55px] md:leading-[1.3] mb-4 font-bold;
  }

  .h2 {
    @apply text-[25px] leading-tight md:text-[35px] md:leading-[1.3] mb-4 font-bold;
  }

  .h3 {
    @apply text-[24px] leading-tight md:text-[28px] md:leading-[1.3] mb-4 font-bold;
  }

  .h4 {
    @apply text-[16px] md:text-[17px] mb-2 font-bold;
  }

  .h5 {
    @apply text-[14px] md:text-[15px] xxs:text-[8px] mb-1 font-bold;
  }

  p {
    @apply leading-[1.3] text-[14px] text-gray-30;
  }
}

@layer utilities {
  .active-link {
    @apply text-secondary relative after:w-2/3 after:h-[2px] after:rounded-full after:bg-secondary after:absolute after:-bottom-2 after:left-0;
  }

  .btn-white  { 
    @apply  medium-14 bg-white text-tertiary ring-1 ring-white px-7 py-2.5 rounded-full
  }

  .btn-dark  { 
    @apply  medium-14 bg-tertiary text-white ring-1 ring-tertiary px-7 py-2.5 rounded-full
  }
  
  .btn-light  { 
    @apply  medium-14 bg-primary ring-1 ring-white px-7 py-2.5 rounded-full hover:bg-white transition-all duration-300
  }

  .btn-outline  { 
    @apply  medium-14 bg-white ring-1 ring-white px-7 py-2.5 rounded-full hover:bg-primary transition-all duration-300
  }

  .btn-secondary  { 
    @apply  medium-14 bg-secondary ring-1 ring-secondary text-white px-7 py-2.5 rounded-full  
  }

  .btn-secondaryOne  { 
    @apply  medium-14 bg-secondaryOne ring-1 ring-secondaryOne text-tertiary px-7 py-2.5 rounded-full  
  }

  .max-padd-container {
    @apply mx-auto max-w-[1440px] px-6 lg:px-12;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }

  /* FONTS */
  .regular-64 {
    @apply text-[64px] font-[400] leading-[120%];
  }

  .regular-52 {
    @apply text-[52px] font-[400] leading-[120%];
  }

  .regular-48 {
    @apply text-[48px] font-[400] leading-[120%];
  }

  .regular-40 {
    @apply text-[40px] font-[400] leading-[120%];
  }

  .regular-32 {
    @apply text-[32px] font-[400];
  }

  .regular-28 {
    @apply text-[28px] font-[400];
  }

  .regular-24 {
    @apply text-[24px] font-[400];
  }

  .regular-22 {
    @apply text-[22px] font-[400];
  }

  .regular-20 {
    @apply text-[20px] font-[400];
  }

  .regular-18 {
    @apply text-[18px] font-[400];
  }

  .regular-16 {
    @apply text-[16px] font-[400];
  }

  .regular-15 {
    @apply text-[15px] font-[400];
  }

  .regular-14 {
    @apply text-[14px] font-[400];
  }

  .medium-64 {
    @apply text-[64px] font-[500] leading-[120%];
  }

  .medium-52 {
    @apply text-[52px] font-[500] leading-[120%];
  }

  .medium-48 {
    @apply text-[48px] font-[500] leading-[120%];
  }

  .medium-40 {
    @apply text-[40px] font-[500] leading-[120%];
  }

  .medium-36 {
    @apply text-[36px] font-[500];
  }

  .medium-32 {
    @apply text-[32px] font-[500];
  }

  .medium-28 {
    @apply text-[28px] font-[500];
  }

  .medium-24 {
    @apply text-[24px] font-[500];
  }

  .medium-22 {
    @apply text-[22px] font-[500];
  }

  .medium-20 {
    @apply text-[20px] font-[500];
  }

  .medium-18 {
    @apply text-[18px] font-[500] xxs:text-[14px] ;
  }

  .item-detail-btn {
    background-color: #8e3078;
  }

  .item-detail-btn:hover {
    background-color: transparent !important ;
    color: #8e3078 !important ;
    outline: #8e3078 solid 2px !important ;
    transition: ease 0.4s;
  }

  .item-detail-save {
    outline: solid 2px #8e3078;
  }

  .item-detail-save:hover {
    background-color: transparent !important ;
    outline: none !important ;
  }

  .explore-btn {
    background-color: #8e3078;
  }

  .medium-16 {
    @apply text-[16px] font-[500];
  }

  .medium-15 {
    @apply text-[15px] font-[500];
  }

  .medium-14 {
    @apply text-[14px] font-[500];
  }

  .bold-88 {
    @apply text-[88px] font-[700] leading-[120%];
  }

  .bold-64 {
    @apply text-[64px] font-[700] leading-[120%];
  }

  .bold-52 {
    @apply text-[52px] font-[700] leading-[120%];
  }

  .bold-48 {
    @apply text-[48px] font-[700] leading-[120%];
  }

  .bold-44 {
    @apply text-[44px] font-[700] leading-[120%];
  }

  .bold-40 {
    @apply text-[40px] font-[700] leading-[120%];
  }

  .bold-36 {
    @apply text-[36px] font-[700] leading-[120%];
  }

  .bold-32 {
    @apply text-[32px] font-[700] leading-[120%];
  }

  .bold-28 {
    @apply text-[28px] font-[700] leading-[120%];
  }

  .bold-24 {
    @apply text-[24px] font-[700] leading-[120%];
  }

  .bold-22 {
    @apply text-[22px] font-[700];
  }

  .bold-20 {
    @apply text-[20px] font-[700];
  }

  .bold-18 {
    @apply text-[18px] font-[700];
  }

  .bold-16 {
    @apply text-[16px] font-[700];
  }

  .bold-15 {
    @apply text-[15px] font-[700];
  }
  .bold-14 {
    @apply text-[14px] font-[700];
  }
}

/* Add these to your Tailwind configuration or global CSS */
.overflow-x-auto::-webkit-scrollbar {
  height: 8px;
}
.overflow-x-auto::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar color */
  border-radius: 4px;
}
.overflow-x-auto::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Scrollbar hover color */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent; /* Use CSS variable for secondary color */

  /* Adding margin to the scrollbar */
  padding-bottom: 8px; /* Space below the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar {
  height: 12px; /* Thickness of the scrollbar */
  margin-top: 12px;
  margin-bottom: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color); /* Apply secondary color to the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

.cat-check:checked + .cat-check-name {
  color: #3590b4;
}

.item-card {
  border: dashed 0.5px #555;
  border-radius: 10px;
}

.contact-color-box {
  background-color: #3590b4;
}

.contact-color-box svg {
  color: white;
}

.sticky-container {
  position: relative;
}

.sticky-btn {
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 50%; /* Position it in the center horizontally */
  transform: translateX(-50%); /* Adjust for exact centering */
  background-color: #3590b4; /* Button color, adjust as needed */
  border: 2px solid #3590b4;
  transition: ease-in-out 0.3s;
}
